:root{
    --blue: rgb(238, 255, 0);
    --red: rgb(36, 255, 83);
    --yellow: rgb(255, 61, 223);
    --green: rgb(36, 255, 218);
    --blues: rgb(255, 168, 5);
    --grey: grey;
    --brown: brown;
    }